<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">

      <h1>Plans Index Page</h1>
      <ul>
        <% for (let plan of plans ) { %>
          <h5>
            <a class="z-depth-3" href="/plans/<%=plan._id%>">
              <%= plan.planName.padEnd(100 - plan.planName.length, ' ') %>
            </h5>
       <% } %>
      </ul>
    </div>
  </body>
</html>
