<a href="/plans" class="brand-logo left">ACME Retirement Investments</a>
<ul class="right">
  <li><a href="/plans/new">Create a new Plan</a></li>
  <li><a href="/participants/new">Create a new Participant</a></li>
  <li><a href="/plans">All Plans</a></li>
  <li><a href="/participants">All Participants</a></li>
</ul>
