<a href="/plans" class="brand-logo left hide-on-med-and-down">ACME Retirement Investments</a>  
<a href="#" data-activates="mobile-collapse" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
<ul class="right hide-on-med-and-down">
  <li><a href="/plans/new">Create a new Plan</a></li>
  <li><a href="/participants/new">Create a new Participant</a></li>
  <li><a href="/plans">All Plans</a></li>
  <li><a href="/participants">All Participants</a></li>
  <% if (currentUser) { %>
    <li>Hi <%= currentUser.username %></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <!-- <input type="submit" value="Log Out" class="btn-small red" /> -->
        <button class="btn waves-effect waves-light red">Log Out</button>
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>
</ul>
<!-- FIXED ACTION BUTTON -->
<div class="fixed-action-btn">
  <a href="/plans" class="btn-floating violet btn-large"><i class="large material-icons">subject</i></a>
  <a href="/plans/new" class="btn-floating pink btn-large"><i class="large material-icons">add  </i></a>
  <a href="/participants" class="btn-floating blue btn-large"><i class="large material-icons">person_outline</i></a>
  <a href="/participants/new" class="btn-floating green btn-large"><i class="large material-icons">person_add</i></a>
  <a href="/emails/new" class="btn-floating indigo btn-large"><i class="large material-icons">email</i></a>
  <a href="#" class="btn-floating red btn-large"><i class="large material-icons">fingerprint</i></a>
  <a href="#" class="btn-floating orange btn-large"><i class="large material-icons">directions_walk</i></a>
</div>
<!-- MOBILE COLLAPSE FOR RESPONSIVENESS -->
<nav>
  <div class="nav-wrapper hide-on-med-and-up">
    <ul class="side-nav" id="mobile-collapse">
      <li><a href="/plans/new">Create a new Plan</a></li>
      <li><a href="/participants/new">Create a new Participant</a></li>
      <li><a href="/plans">All Plans</a></li>
      <li><a href="/participants">All Participants</a></li>
    </ul>
  </div>
</nav>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script 
  src="https://cdnjs.cloudfare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
  // Or with jQuery
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  // $(".button-collapse").sideNav();
</script>




