<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Participant Index Page</h1>
      <ul>
        <% for (let participant of participants ) { %>
          <li>
            <a href="/participants/<%=participant._id%>">
              <%= participant.partName %>
          </li>
       <% } %>
      </ul>
    </div>
  </body>
</html>
